.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  color:white;
  text-shadow: 0px 0px 3px black, 0px 0px 10px black, 0px 0px 30px black, 0px 0px 40px black, 0px 0px 50px black;
}

.jumbotron .lead{
  color: bisque;
  text-shadow: 0px 0px 3px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

.badge.bg-warning, .badge.bg-success, .badge.bg-danger, .badge.bg-info{
  text-shadow: 0px 0px 1px black, 0px 0px 2px black;

}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #222325;
    border-top: 1px solid black;
}

footer p {
  margin-bottom: .25rem;
}

.zvezda-img-link{
  display: block;
  box-shadow: inset 0px 0px 10px black, inset 0px 0px 50px black;
  overflow: hidden;
  -webkit-border-top-left-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  -moz-border-radius-topleft: .25rem;
  -moz-border-radius-topright: .25rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.zvezda-img-link img{
  margin: -2px;
  width: 102%;
}

#zvezda-btn-groups .btn-group{
  margin-bottom:10px;
}

.float-right{
  float: right;
}

.zvezda-img{
  width:100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.float-left{
  float:left;
}

#zvezda-logo{
  height: 40px;
  margin:-0.4rem;
}

#zvezda-buklet-title, #zvezda-page-title{
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 -1px 0 #ddd;
}
#zvezda-buklet-download{
  text-align: center;
}

#zvezdaToastWrapper{
  height: 0px;
}
#zvezdaToast .toast-body{
  background: #222;
  margin-top: -2px;
  position: relative;
  z-index: 1000;
  border: 1px solid #32383e;
    border-top: none;
}


.bg-violet {
  background-color: rgb(111, 2, 138);
}
.bg-blue{
  background-color: #3249cd;
}

.btn-violet {
  background-image: linear-gradient(rgb(130 0 162),rgb(111, 2, 138) 60%,rgb(72 4 89));
  -webkit-filter: none;
  filter: none;
  color: #fff;
}

.btn-blue {
  background-image: linear-gradient(#3a53e6 ,#3249cd 60%,#2438a8 );
  -webkit-filter: none;
  filter: none;
  color: #fff;
}

.border-violet {
  border-color: rgb(111, 2, 138)!important;
}

.border-blue {
  border-color: #3249cd!important;
}

#zvezda-page-cat{
  float: right;
}

#zvezdaFilter{
  display: none;
}

@media (min-width:600px){
  #zvezdaFilterClean{
    float: right;
  }
}
@media (max-width:600px){
  #zvezdaFilterClean{
    display:block;
    margin: 10px auto 0px auto;
  }
}

.btn-group-xs>.btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.zv-share{
  padding:10px;
}

.btn-group .btn.zvezda-share{
  -webkit-border-top-right-radius: 0.2rem !important;
  -webkit-border-bottom-right-radius: 0.2rem !important;
  -moz-border-radius-topright: 0.2rem !important;
  -moz-border-radius-bottomright: 0.2rem !important;
  border-top-right-radius: 0.2rem !important;
  border-bottom-right-radius: 0.2rem !important;
}


@media (min-width: 992px){
  #mobileNavbar {
      display: none;
  }
}
@media (max-width: 992px){
  #zvezda-link-groups {
      display: none;
  }
}
#zvezda-link-groups{
  margin-left: auto;
  width:100%;
  max-width: 820px;
}

#zvezda-link-groups .nav-link{
  border-bottom-width:3px;
  border-bottom-style: ridge;
  text-align: center;
}

#zvezda-link-groups .link-warning{
  border-bottom-color:#f89406;
}

#zvezda-link-groups .link-violet {
  border-bottom-color: rgb(111, 2, 138);
}
#zvezda-link-groups .link-blue{
  border-bottom-color: #3249cd;
}

#zvezda-link-groups .link-success{
  border-bottom-color: #62c462;
}


#zvezda-link-groups .link-danger{
  border-bottom-color: #ee5f5b;
}


#zvezda-link-groups .link-light{
  border-bottom-color: #e9ecef;
}

#zvezda-link-groups .link-light{
  border-bottom-color: #e9ecef;
}

#zvezda-link-groups .link-info{
  border-bottom-color: #5bc0de;
}

#zvezda-link-groups .link-secondary{
  border-bottom-color: #7a8288;
}
#zvezda-link-groups .nav-item{
width: 100%;
}

#zvezda-contacts-footer ul{
  display: flex;
}
#zvezda-contacts-footer ul li{
  margin-right: 20px;
}

@media (max-width: 800px){
  #zvezda-contacts-footer>span{
    display: none;
  }

  #zvezda-contacts-footer ul{
    display: block;
  }
}

#zvezda-page-content h5{
  margin-top: 20px;
}

#zvezda-page-content ul {list-style: none}
#zvezda-page-content li::before {
  content: "•"; 
  color: rgb(255, 115, 0);
  font-size: 20px;
  line-height: 18px;
  display: inline-block; 
  width: 15px;
  margin-left: -20px;
}

#zvezda-page-content{
  color: #ccc;
}

#zvezda-page-content b{
  color:white;
}

#zvezda-page-title{
  margin-bottom:20px;
}

.zvezda_page_img_card img, .zvezda_page_img_card_right img{
  width:100%;
}

.zvezda_page_img_card{
  max-width: 800px;
  margin:0 auto;
}

#zvezda_page_navbar i{
  margin: 0 5px;
}


@media (min-width:900px){
  .zvezda_page_img_card_right{
    float: right;
    width: 50%;
    margin-left: 30px;
  }
}
@media (min-width:1200px){
  .zvezda_page_img_card_right{
    width: 40%;
  }
}

@media (max-width:900px){
  .zvezda_page_img_card{
    max-width: 800px;
    margin:0 auto;
  }
}

#zvezda_eb_table{
  
}

#zvezda_eb_table td{
  text-align: center; vertical-align: center;
}

#zvezda_eb_table img{
  width:80%;
}

@media (min-width:600px){
  .zvezda-info-mobile{
    display: none;
  }
}
@media (max-width:600px){
  .zvezda-info-desktop{
    display: none;
  }
}

#zv-other-comics{
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  display: inline-block;
  margin:1rem auto;
}

#zv-other-comics a{
  margin-left: 10px;
}

#zvezda_next_comics{
  text-align: center;
}

#zv-share-comics{
  text-align: center;
  margin: 20px 0;
}